<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :name, style: "display: block", class: "input-group-text" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :client_id, style: "display: block", class: "input-group-text" %>
    <%= form.collection_select :client_id, @clients, :id, :name, include_blank: true, class: "form-select form-select-lg" %>
  </div>

  <div>
    <%= form.submit "Ingresar", class: "btn btn-secondary my-1" %>
  </div>
<% end %>
