<p style="color: green"><%= notice %></p>

      <%= render partial: "client-det", object: @client %>

<div>
  <h1>Peliculas</h1>
  <% @client.movies.each do |movie| %>
    <div class="card text-bg-dark mb-3" style="width: 22rem;">
      <div class="card-body">
        <div class="card-title"><%= movie.id %> - <%= movie.name %></div>
            <%= link_to "Ver", movie, class: "btn btn-success mb-1" %></td>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Volver", clients_path, class: "btn btn-primary" %>
</div>